
<form #productForm="ngForm" enctype="multipart/form-data" (ngSubmit)="onSubmit(productForm)" class="container">
    <h1>Add Products</h1>
    <mat-form-field>
      <mat-label>Product Name</mat-label>
      <input matInput #productName="ngModel" [(ngModel)]="product.productName"  [ngModelOptions]="{standalone: true}"  required>
    </mat-form-field>
    <mat-form-field>
      <mat-label>Product Brand</mat-label>
      <input matInput #productBrand="ngModel" [(ngModel)]="product.productBrand"  [ngModelOptions]="{standalone: true}"  required>
    </mat-form-field>
    <mat-form-field>
      <mat-label>Product Category</mat-label>
      <input matInput #productCategory="ngModel" [(ngModel)]="product.productCategory"  [ngModelOptions]="{standalone: true}"  required>
    </mat-form-field>
    <mat-form-field>
      <mat-label>Product Quantity</mat-label>
      <input matInput #productQuantity="ngModel" [(ngModel)]="product.productQuantity"  [ngModelOptions]="{standalone: true}"  required>
    </mat-form-field>
    <mat-form-field>
      <mat-label>Product Actual Price</mat-label>
      <input matInput #productActualPrice="ngModel" [(ngModel)]="product.productActualPrice"  [ngModelOptions]="{standalone: true}"  required>
    </mat-form-field>
    <mat-form-field>
      <mat-label>Product Discounted Price</mat-label>
      <input matInput #productDiscountedPrice="ngModel" [(ngModel)]="product.productDiscountedPrice"  [ngModelOptions]="{standalone: true}"  required>
    </mat-form-field>
    <mat-form-field>
      <mat-label>Product Description</mat-label>
      <input matInput #productDescription="ngModel" [(ngModel)]="product.productDescription"  [ngModelOptions]="{standalone: true}"  required>
  </mat-form-field>
  <mat-form-field class="example-full-width" appearance="fill">
    <mat-label>Image Photograph</mat-label>
    <button mat-icon-button matPrefix (click)="event.click()"   >
      <mat-icon>attach_file</mat-icon>
    </button>
    <input type="text" value="{{this.productImage.value}}" matInput required  /> 
    <input hidden #event type="file" #productImage  (change)="OnFileSelected($event)" required>
    <mat-error>Please enter Lessor Photograph</mat-error>
  </mat-form-field>
  <button mat-button type="submit" class="btn">Add</button>
</form>