
  <form (ngSubmit)="onSubmit()" class="container">
    <h1>Add Products</h1>
    <mat-form-field>
      <mat-label>Product Name</mat-label>
      <input matInput [(ngModel)]="productName" [ngModelOptions]="{standalone: true}">
    </mat-form-field>
    <mat-form-field>
      <mat-label>Product Brand</mat-label>
      <input matInput [(ngModel)]="productBrand" [ngModelOptions]="{standalone: true}">
    </mat-form-field>
    <mat-form-field>
      <mat-label>Product Category</mat-label>
      <input matInput [(ngModel)]="productCategory" [ngModelOptions]="{standalone: true}">
    </mat-form-field>
    <mat-form-field>
      <mat-label>Product Quantity</mat-label>
      <input matInput [(ngModel)]="productQuantity" [ngModelOptions]="{standalone: true}">
    </mat-form-field>
    <mat-form-field>
      <mat-label>Product Price</mat-label>
      <input matInput [(ngModel)]="productPrice" [ngModelOptions]="{standalone: true}">
    </mat-form-field>
    <mat-form-field>
      <mat-label>Product Description</mat-label>
      <input matInput [(ngModel)]="productDescription" [ngModelOptions]="{standalone: true}">
  </mat-form-field>
  <button mat-button type="submit" class="btn">Add</button>
</form>